<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>Simulation - {{ data["name"] }}</title>
		<link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
		<script type="text/javascript">
			var data = {{ data | tojson }};
		</script>
	</head>
	<body>
		<div id="simulation-div">
			<div id="data-values-div" class="bordered">
				<b>Name:</b>{{ data["name"] }}<br />
				<b>Number of Agents:</b>{{ data["n-agents"] }}<br />
				<b>Agent Lifespan Min:</b>{{ data["agents-lifespan-min"] }}<br />
				<b>Agent Lifespan Range:</b>{{ data["agents-lifespan-range"] }}<br />
				<b>Width:</b>{{ data["width"] }}<br />
				<b>Height:</b>{{ data["height"] }}<br />
				<b>Food Spawn Rate:</b>{{ data["food-spawn-rate"] }}<br />
				<b>Food Lifespan Min:</b>{{ data["food-lifespan-min"] }}<br />
				<b>Food Lifespan Range:</b>{{ data["food-lifespan-range"] }}<br />
				<b>Food Detection Radius:</b>{{ data["food-detection-radius"] }}<br />
				<b>Eating Number:</b>{{ data["eating-number"] }}<br />
				<b>Max Time Steps:</b>{{ data["max-time-steps"] }}<br />
				<br />
				<b>Time Step:</b><span id="time-step"></span>/{{ data["last-time-step"] }}<br />
				<b>Number of Live Agents:</b><span id="n-agents"></span><br />
			</div>
	
			<div id="visualization-div" class="bordered">
				<div class="centering-div">
					<canvas id="simulation-canvas" width="600" height="600"></canvas>
				</div>
				<div class="centering-div">
					<div id="control-buttons-div">
						<button id="prev-time-step" class="unavailable" onclick="get_prev_time_step()">&#9204;</button>
						<button id="play" onclick="toggle_play()">&#9658;</button>
						<button id="next-time-step" onclick="get_next_time_step()">&#9205;</button>
						<button id="reset" onclick="reset()">&#8634;</button>
					</div>
				</div>
			</div>
		</div>

		<form id="delete-template-form" action="/delete_simulation" method="post">
			<button type="submit" name="simulation-name" value={{ data["name"] }}>Delete Simulation</button>
		</form>

		<script src={{ url_for('static', filename='finished_simulation.js') }} ></script>
	</body>
</html>