<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href={{ url_for('static',filename='style.css') }} />
		<title>Main Page</title>
	</head>
	<body>
		{% if simulation_templates|length > 0 %}
			<div class="bordered" id="simulation-templates-div">
				<h2>Simulation Templates</h2>
				{% for template in simulation_templates %}
					<a class="button" href={{ url_for('simulation_template', template=template) }}>
						{{ template }}
					</a>
				{% endfor %}
			</div>
		{% endif %}

		{% if simulations|length > 0 %}
			<div class="bordered" id="simulations-div">
				<h2>Simulations</h2>
				{% for simulation in simulations %}
					<a class="button {{ 'finished' if simulation[1] else 'not_finished' }}"
					href={{ url_for('simulation', simulation=simulation[0]) }}>
						{{ simulation[0] }}
					</a>
				{% endfor %}
			</div>
		{% endif %}

		{% if training|length > 0 %}
			<div class="bordered" id="training-div">
				<h2>Training</h2>
				{% for train in training %}
					<a class="button {{ 'finished' if train[1] else 'not_finished' }}"
					href={{ url_for('training_generations', training=train[0]) }}>
						{{ train[0] }}
					</a>
				{% endfor %}
			</div>
		{% endif %}
		
		<form class="bordered" id="create-simulation-form" action="/create_simulation_template" method="post">
			<h2>Create Simulation Template</h2>
			<label for="name">Simulation Template Name:</label>
			<input type="text" id="name" name="name" required />
			<br />
			<label for="map-size">Map Size:</label>
			<div id="map-size">
				<input type="number" id="width" name="width" min="10" max="1000" step="1" value="100" />
				&times;
				<input type="number" id="height" name="height" min="10" max="1000" 	value="100" />
			</div>
			<label for="n-agents">Number of Agents:</label>
			<br />
			<input type="number" id="n-agents" name="n-agents" min="1" max="50" value="10" />
			<br />
			<label for="agents-lifespan-min">Minimum Agent Lifespan:</label>
			<input type="number" id="agents-lifespan-min" name="agents-lifespan-min" min="1" max="500" value="100" />
			<label for="agents-life-span-range">Agent Lifespan Range:</label>
			<input type="number" id="agents-lifespan-range" name="agents-lifespan-range" min="0" max="500" value="100" />
			<div id="food-spawn-rate-div">
				<label for="food-spawn-rate">Food Spawn Rate:</label>
				<br />
				<input type="range" id="food-spawn-rate-range" min="0" max="0.5" value="0.05" step="0.01" oninput="update_food_spawn_rate_from_range()"/>
				<input type="number" id="food-spawn-rate-number" name="food-spawn-rate" min="0" max="0.5" value="0.05" step="0.01" oninput="update_food_spawn_rate_from_number()"/>
			</div>
			<label for="food-lifespan-min">Minimum Food Lifespan:</label>
			<input type="number" id="food-lifespan-min" name="food-lifespan-min" min="1" max="500" value="100" />
			<label for="food-life-span-range">Food Lifespan Range:</label>
			<input type="number" id="food-lifespan-range" name="food-lifespan-range" min="0" max="500" value="100" />
			<br />
			<label for="food-detection-radius">Food Detection Radius:</label>
			<br />
			<input type="number" id="food-detection-radius" name="food-detection-radius" min="1" max="1000" value="50" />
			<br />
			<label for="eating-number">Agents Required for Eating:</label>
			<br />
			<input type="number" id="eating-number" name="eating-number" min="1" max="10" value="3" />
			<br />
			<label for="max-time-steps">Max Time Steps:</label>
			<br />
			<input type="number" id="max-time-steps" name="max-time-steps" min="100" max="10000" value="1000" step="1" />
			<br />
			<select id="created-type" name="created-type" onchange="update_type()" required>
				<option value="simulation-template">Simulation Template</option>
				<option value="simulation">Simulation</option>
				<option value="training">Training</option>
			</select>
			<br />
			<div id="training-options-div" style="display: none;">
				<h3>Training Options</h3>
				<label for="no-fitness-termination">No Fitness Termination:</label>
				<select id="no-fitness-termination" name="no-fitness-termination" required>
					<option value="True">False</option>
					<option value="False">True</option>
				</select>
				<br />
				<label for="pop-size">Population Size:</label>
				<input type="number" id="pop-size" name="pop-size" value="50" />
				<br />
				<label for="reset-on-extinction">No Fitness Termination:</label>
				<select id="reset-on-extinction" name="reset-on-extinction" required>
					<option value="True">False</option>
					<option value="False">True</option>
				</select>
				<br />
				<label for="n-generations">Number of Generations:</label>
				<input type="number" id="n-generations" name="n-generations" value="50" />
			</div>
			<button type="submit" id="submit-button">Create</button>
		</form>

		<script src={{ url_for('static', filename='index.js') }}></script>
	</body>
</html>