<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>Simulation - {{ data["name"] }}</title>
		<link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
		<script type="text/javascript">
			var simulation_name = "{{ data['name'] }}";
		</script>
	</head>
	<body>
		<div id="data-values-div" class="bordered">
			<b>Name:</b>{{ data["name"] }}<br />
			<b>Number of Agents:</b>{{ data["n-agents"] }}<br />
			<b>Agent Lifespan Min:</b>{{ data["agents-lifespan-min"] }}<br />
			<b>Agent Lifespan Range:</b>{{ data["agents-lifespan-range"] }}<br />
			<b>Width:</b>{{ data["width"] }}<br />
			<b>Height:</b>{{ data["height"] }}<br />
			<b>Food Spawn Rate:</b>{{ data["food-spawn-rate"] }}<br />
			<b>Food Lifespan Min:</b>{{ data["food-lifespan-min"] }}<br />
			<b>Food Lifespan Range:</b>{{ data["food-lifespan-range"] }}<br />
			<b>Food Detection Radius:</b>{{ data["food-detection-radius"] }}<br />
			<b>Eating Number:</b>{{ data["eating-number"] }}<br />
			<b>Max Time Steps:</b>{{ data["max-time-steps"] }}<br />
			<br />
			<b>Time Step:</b><span id="time-step"></span>/{{ data["max-time-steps"] }}<br />
			<b>Number of Live Agents:</b><span id="n-agents"></span><br />
			<br />
			<b>Finished:</b><span id="finished"></span><br />
			<b>Saved:</b><span id="saved"></span><br />
		</div>

		<form id="delete-template-form" action="/delete_simulation" method="post">
			<button type="submit" name="simulation-name" value={{ data["name"] }}>Delete Simulation</button>
		</form>

		<script src={{ url_for('static', filename='live_simulation.js') }} ></script>
	</body>
</html>